.c-button-tgl {
    .bar {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        top: 5px;
        right: 15px;

        .top {
            height: 5px;
            width: 30px;
            background: #fff;
            border-radius: 50px;
            position: absolute;
            transition: 0.5s ease;

            &_open {
                transform: rotate(-45deg);
                width: 30px;
                transform-origin: right;
                top: 2px;
            }
        }

        .middle {
            top: 10px;
            height: 5px;
            width: 30px;
            background: #fff;
            border-radius: 50px;
            position: absolute;
            transition: 0.3s ease;

            &_open {
                transform: translateX(20px);
                opacity: 0;
            }
        }

        .bottom {
            top: 20px;
            height: 5px;
            width: 30px;
            background: #fff;
            border-radius: 50px;
            position: absolute;
            transition: 0.3s ease;

            &_open {
                transform: rotate(45deg);
                width: 30px;
                transform-origin: right;
                top: 23px;
            }
        }
    }
}

.c-site-nav {
    transform: translateY(-200%);
    transition: all 1.5s ease-in-out;
    height: 0;
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: -1;
}

.open-menu {
    transform: translateY(6%);
    width: 100%;
    background-color: aqua;
    z-index: 1;
    opacity: 1;
    height: 100%;
    left: 0;
}

.menu {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;

    /* .s_open {
     span.top {
        top: 50%;
        background: red;
        transform: rotateZ(-45deg) translateY(-50%);
        width: 100%;
        opacity: 1;
        right: 0;
        left: 2px;
    }
     span.middle {
         opacity: 0;
    }
     span..bottom {
    background: red;
    top: 50%;
    transform: rotateZ(45deg) translateY(-50%);
    width: 100%;
    opacity: 1;
    right: 0;
    }
  } */
}

.s_open {
    span.top {
        top: 10px;
        background: red !important;
        transform: rotateZ(-50deg) translateY(-60%);
        width: 100%;

    }

    span.middle {
        opacity: 0;
    }

    span.bottom {
        background: red !important;
        top: 10px !important;
        transform: rotateZ(45deg) translateY(-50%);
        right: 0;
        left: -18px;
    }
}
